body {
    background-color: #222;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    height: 90vh;
}

.section-login {
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.article-login-img {
    text-align: center;
    margin-bottom: 30px;
}

.article-login-img img {
    width: 200px;
}

.article-login-form {
    width: 100%;
}

.titulo h1 {
    color: #4CAF50;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

label {
    color: #4CAF50;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-bottom: 30px;
}

.article-boton{
    display: flex;
}

.boton {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #52c856;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.boton:hover {
    background-color: #4CAF50;
    cursor: pointer;
}

.volver-inicio-login {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.volver-inicio-login a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1.1em; 
}

.volver-inicio-login a:hover {
    text-decoration: underline;
    color: #52c856;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro > a{
    color: white;
    text-decoration: none;
    font-size: 1.1em; 
}

.registro > a:hover{
    text-decoration: underline;
}

.errors {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

@media (max-width: 1024px) {
    .section-login {
        padding: 40px;
        margin-top: 2em;
    }

    .titulo h1 {
        font-size: 2em;
    }

    .boton {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .section-login {
        width: 100%;
        padding: 30px;
    }

    .titulo h1 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 12px;
        margin-bottom: 20px;
    }

    .boton {
        font-size: 0.9em;
        padding: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    .article-boton {
        flex-direction: column;
        gap: 10px;
    }
}