.section-address {
    max-width: 600px;
    height: max-content;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 8em;
    padding-bottom: 6em;
}

.section-address h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section-address form {
    display: flex;
    flex-direction: column;
}

.section-address label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-address input[type="text"],
.section-address input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.section-address button.botonForm {
    align-self: center;
    padding: 10px 20px;
    background-color: #52c856;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-address button.botonForm:hover {
    background-color: #4CAF50;
}

.section-address button[type="submit"] {
    margin-top: 15px;
}



