.section-media {
    max-width: 600px;
    height: max-content;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 8em;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formMedia {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea,
.inputFileWrapper,
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputFileWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}

.inputFileWrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.botonForm {
    align-self: center;
    padding: 10px 20px;
    background-color: #52c856;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonForm:hover {
    background-color: #4CAF50;
}

button[type="submit"] {
    margin-top: 15px;
}

.containerBuscador {
    margin-top: 20px;
}

.containerBuscador input[type="text"] {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.resultadosDiv {
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.resultadoP {
    padding: 10px;
    border-radius: 8px;
}

.resultadoP:hover {
    background-color: whitesmoke;
}