#sexDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 5em;
}

#sexDiv div {
    cursor: pointer;
    padding: 25px 50px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

#sexDiv div:hover {
    background-color: #4CAF50;
    color: #fff;
}

#sexDiv .selected {
    background-color: #4CAF50;
    color: #fff;
}

#sexDiv div + div {
    margin-left: 30px; /* Espacio entre los botones de hombre y mujer */
}

#listaCategory {
    text-align: center;
    margin-bottom: 40px;
}

#listaCategory h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

#listaCategory ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#listaCategory li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

#listaCategory li:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #999;
    right: -10px;
    
}

#listaCategory li:last-child:after {
    display: none; 
}

#listaCategory li:hover {
    color: #4CAF50;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6em;
}


.containerBuscador {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBuscador input[type="text"] {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 20%;
    margin-bottom: 10px;
}

.resultadosDiv {
    display: none;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.resultadoP {
    padding: 10px;
    border-radius: 8px;
}

.resultadoP:hover {
    background-color: whitesmoke;
}

.product {
    width: 250px;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.product:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    margin-top: 15px;
    font-size: 20px;
}

.product p {
    margin-top: 10px;
    font-size: 18px;
    color: #888;
}

.botonAdd {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botonAdd:hover {
    background-color: #45a049;
}

.botonAdd:focus {
    outline: none;
}

.botonAdd:active {
    transform: translateY(1px);
}

.buttonVer {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: block; 
    margin-top: 5px;
}

.buttonVer:hover {
    background-color: #007B9E;
}

.buttonVer:focus {
    outline: none;
}

.buttonVer:active {
    transform: translateY(1px);
}

.inputCantidad {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60px;
}

@media (max-width: 1024px) {
    #sexDiv div {
        margin-top: 1em;
        padding: 20px 40px;
        font-size: 18px;
    }

    #product-container {
        margin-bottom: 4em;
    }

    .product {
        width: 200px;
        margin: 20px;
        padding: 15px;
    }

    .product h3 {
        font-size: 18px;
    }

    .product p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #sexDiv {
        flex-direction: column;
        margin-top: 3em;
    }

    #sexDiv div + div {
        margin-left: 0;
        margin-top: 15px;
    }

    #listaCategory ul {
        flex-direction: column;
    }

    #listaCategory li {
        margin-bottom: 10px;
    }

    #listaCategory li:after {
        display: none;
    }

    .containerBuscador input[type="text"] {
        width: 50%;
    }

    .resultadosDiv {
        width: 50%;
    }

    .product {
        width: 45%;
        margin: 15px;
        padding: 15px;
    }

    .product h3 {
        font-size: 16px;
    }

    .product p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #sexDiv {
        margin-top: 3em;
    }

    #sexDiv div {
        padding: 15px 30px;
        font-size: 16px;
    }

    #listaCategory h2 {
        font-size: 18px;
    }

    #listaCategory li {
        font-size: 16px;
    }

    .containerBuscador input[type="text"] {
        width: 80%;
    }

    .resultadosDiv {
        width: 80%;
    }

    .product {
        width: 80%;
        margin: 10px;
        padding: 10px;
    }

    .product h3 {
        font-size: 14px;
    }

    .product p {
        font-size: 12px;
    }

    .botonAdd, .buttonVer {
        padding: 8px 16px;
        font-size: 14px;
    }
}
