.titulo {
    margin-top: 3em;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.section-contacto {
    width: 100%;
}

.form-contacto {
    width: 100%;
    padding-bottom: 2em;
}

.article-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
}

.article-contacto fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-color: #f5f5f5;
    border: 0.2em solid #ccc;
    width: 38%;
    padding: 1.5em;
    margin-bottom: 5em;
}

.article-contacto legend {
    font-family: 'MontserratBold';
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 1em;
}

.article-contacto label {
    font-family: 'MontserratBold';
    font-size: 1.3em;
    color: #333;
    margin: 1em 0;
}


.article-contacto input[type="text"],
.article-contacto input[type="email"],
.article-contacto textarea {
    box-sizing: border-box;
    font-size: 1.1em;
    padding: 0.8em;
    margin: 0.5em 0;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 0.1em solid #ccc;
    border-radius: 0.8em;
    color: #333;
}

.article-contacto textarea {
    resize: vertical;
    min-height: 10em;
}


.article-contacto input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 0.8em;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.4s ease;
}

.article-contacto input[type="submit"]:hover {
    background-color: #45a049;
}

.article-contacto input[type="submit"]:active {
    background-color: #3e8e41;
}

