@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.section-politica-privacidades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.article-politica-privacidades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white;
    margin: 30px;
    padding: 20px;
    font-size: 1.1em;
    margin-bottom: 4em;
}

.article-politica-privacidades h1 {
    font-family: 'Montserrat';
    font-size: 1.6em;
}

.article-politica-privacidades h2 {
    font-family: 'Montserrat';
    font-size: 1.2em;
}

.titulo-extra {
    margin-top: 2em;
    font-size: 3em;
    text-align: center;
    border-bottom: 2px solid rgb(88, 87, 87);
    width: 100%;

}