body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0909;
    color: #ababab;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

div {
    padding: 15px;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.title {
    margin-right: 5px;
}

.middle-section {
    flex: 2;
    text-align: center;
}

.search input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resultadosUsersDiv{
    width: 100%;
    margin-top: 5px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}
.botonUserForm{
    display: none;
}

.resultadoU{
    padding: 10px;
    border-radius: 8px;
}

.resultadoU:hover{
    background-color: whitesmoke;
    color: black;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f9f9f9;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 88%;
    left: -53%;
    /*Para que se abra hacia la izquierda*/
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: max-content;
    border-radius: 4px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.item {
    display: flex;
    align-items: center;
}

.imgDesplegable{
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.numCarrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.6em;
    font-size: 0.75em;
    position: absolute;
    bottom: 27px;
    left: 48px; 
    display: inline-block;
}

@media (max-width: 768px) {
    .title {
        font-size: 16px;
    }

    .logo {
        padding: 0;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .search {
        padding: 0;
    }

    .dropdown {
        padding: 0;
    }

    .dropdown-content {
        padding: 5px;
        left: -83%;
    }

    .numCarrito {
        bottom: 18px;
        left: 38px; 
    }

    .dropbtn {
        margin-right: 25px;
        padding: 2px 6px;
    }

    .item {
        padding: 10px;
    }
        
    .imgDesplegable{
        width: 23px;
        height: 23px;
    }

    .search input[type="text"] {
        width: 100%;
    }

    .numCarrito {
        bottom: 15px;
        left: 31px;
    }
    
}

@media (max-width: 480px) {

    .dropbtn {
        margin-right: 25px;
    }  

    .dropdown-content {
        left: -53%;
    }
}